article {
  background-color: #fefefe;
  color: #232323;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(3, 3, 3, 0.75);
  transition: all 0.1s linear;
}

article:hover {
  box-shadow: 0px 10px 20px rgba(3, 3, 3, 0.75);
}

article > h2 {
  color: #633294;
  border-bottom: 1px solid #232323;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

article > h2 > span {
  font-size: 16px;
  color: #633294;
}
