.cards {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, 450px));
  text-align: center;
  margin-bottom: 20px;
}

.card > a {
  min-height: 575px;
  background-color: #fefefe;
  color: #232323;
  box-shadow: 0px 4px 8px rgba(3, 3, 3, 0.75);
  transition: all 0.1s linear;
  display: grid;
  overflow: hidden;
  transition: box-shadow 0.1s linear;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(3, 3, 3, 0.75);
}

.site-content {
  padding: 0 20px 20px;
}

.site-title {
  color: #633294;
  font-size: 50.52px;
}

.site-desc {
  font-size: 28.43px;
}
