.thanks {
  text-align: center;
  min-height: 82vh;
  max-width: 50vw;
  margin: 0 auto;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.thanks > h1 {
  font-size: 67.34px;
  margin: 0;
}

.thanks > span {
  font-size: 28.43px;
}

.thanks > h1,
.thanks > span {
  text-shadow: 0px 4px 8px rgba(3, 3, 3, 0.75);
}
