header {
  background-color: #232323;
  margin-bottom: 1.45rem;
  color: #fefefe;
}

.header-wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.0875rem 1.45rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper > h1 {
  margin: 0;
}

.header-wrapper > h1 > a {
  display: flex;
  align-items: center;
}

.header-wrapper > h1 > a > img {
  margin-right: 5px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  margin-left: 20px;
}

.header-links {
  transition: color 0.1s linear;
}

.header-links:hover {
  color: #9d50e9;
}
